#water-mark {
  position: absolute;
  left: 0;
  top: 50px;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  z-index: 99;
  background-color: white;
  color: black;
  font-size: xx-large;
  text-align: center;
}
